@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}

a.ant-picker-now-btn {
    font-size: 0;
  }
  
  a.ant-picker-now-btn:after {
    content: "Now";
    font-size: 16px; 
  }
  
  .ant-picker-ok > button.ant-btn > span {
    font-size: 0;
  }
  
  .ant-picker-ok > button.ant-btn > span:after {
    content: "OK";
    width: '45px';
    font-size: 16px; 
    font-family: 'Poppins', sans-serif;
    color: #bfbfbf;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;